body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 40px;
  background: #f8f8f8;
}

input, button {
  padding: 10px;
  font-size: 1rem;
}

#resultContainer {
  margin-top: 20px;
}

img {
  width: 300px;
  margin: 20px 0;
}

#galleryContainer {
  display: flex;
  flex-wrap: wrap;          /* allow wrapping on multiple rows */
  justify-content: center;  /* center horizontally */
  gap: 20px;                /* space between cards */
  margin-top: 20px;
}

.galleryItem {
  text-align: center;
  width: 150px;
}

.galleryItem img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

